.App {
  text-align: center;
  text-shadow: 1px 1px 5px #ffffff;
}

.Starters {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.Starter {
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
}

.yourPokemon {
  position: fixed;
  bottom: 25%;
  left: 25%;
  padding: 20px;
}

.enemy {
  position: fixed;
  bottom: 65%;
  left: 65%;
  padding: 20px;
}

.moves {
  margin-top: 10px;
  cursor: pointer;
}

img {
  height: 120px;
}

body {
  cursor: default;
  padding: 0;
  margin: 0;
  background-image: url('/public/pokemonforest.jpg');
  background-size: cover;
}

button{
  /* letter-spacing: 5px; */
  cursor: pointer;
  background-color:rgb(153, 248, 163);
  border-radius: 20px;
  border: double;
  width: 150px;
}

.battleMiddle{
  margin-top: 50px;
}