.App {
  text-align: center;
  text-shadow: 1px 1px 5px #ffffff;
}

.Starters {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.Starter {
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
}

.yourPokemon {
  position: fixed;
  bottom: 10%;
  left: 20%;
  padding: 20px;
  /* backdrop-filter: blur(10px); */
}

.enemy {
  position: fixed;
  bottom: 55%;
  left: 60%;
  padding: 20px;
  /* backdrop-filter: blur(10px); */
}

.moves {
  cursor: pointer;
}

.move{
  padding: 0;
  margin: 0;
}


.battleRunButton{
  margin-top: 20px;
  padding: 4px 8px;
}

img {
  height: 120px;
}

body {
  cursor: default;
  background-image: url('/public/pokemonforest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

button{
  /* letter-spacing: 5px; */
  cursor: pointer;
  background-color:rgb(153, 248, 163);
  border-radius: 20px;
  border: double;
  width: 150px;
}


.townContainer{
  /* display: flex; */
}

.townContainer > *{       /* (>)-közvetlen child, (*)- utána minden */
  /* width:calc(100% / 3);
  padding:1rem; */
}


.locations {
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.locations:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.yourPokemonImage {
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.yourPokemonImage:hover {
  transform: scale(1.4);
  cursor: pointer;
}

h1 {
  font-size: 50px;
}

.location {
  cursor: pointer;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translate(-50%); */
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.locations {
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.locations:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.yourPokemonImage {
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.yourPokemonImage:hover {
  transform: scale(1.4);
  cursor: pointer;
}

h1 {
  font-size: 50px;
}